@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Home page css start*/
.image1{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
}
.icon img{
    height: 95px;
}
.navbar-ad img{
    height: 65px;
    padding-top: 20px;
}
.nav-link ul{
list-style-type: none;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    float: left;
    padding: 15px;
}
#dropdownMenuButton1{
    border: none;
    background: transparent;
    padding-top: 20px;
    color: white;
}
.postadd-btn{
    padding-top: 20px;

}
.postadd-btn button{
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    text-align: center;
}
#dropdownMenuButton2{
    border: none;
    background: transparent;
    padding-top: 20px;
    color: white;
}
.div2{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.text1{
    color: white;
}
 .text2{
    font: normal normal normal 50px/50px Inter;
    text-transform: capitalize;
    opacity: 1;
    color: white;
}
.text3{
    color: white;
}
.div button{
    color: white;
    height: 40px;
}
.div button img{
    height: 35px;
}
.call{
    padding-top: 10px;
    color: white;
}
.call img{
    height: 20px;
}
.msg{
    padding-top: 10px;
    color: white;
}
.msg img{
    height: 20px;
}  
.section-aboutus{
    background: #F8F9FA 0% 0% no-repeat padding-box;
    overflow: hidden;
} 
.circle{
    position: relative;
}
.circle img{
    position: absolute;
    top: 0px;
    left: -4px;
    height: 313px;
    width: auto;

}
.aboutus-text{
    text-align: center;
}
.aboutus-text h3{
    font: normal normal normal 18px/40px Open Sans;
    color: #5AA2D0;
}
.aboutus-text h2{
    font: normal normal bold 30px/71px Open Sans;
}
.aboutus-text .p1{
    font: 19px / 28px "Open Sans"
}
.aboutus-text .p2{
    font: 17px / 19px "Open Sans";
}
.aboutus-text span{
    font: normal normal 800 20px/34px Open Sans
}

.grid-img{
    background: url(../Images/main-grid.png);
    background-repeat: no-repeat;
    height: 1150px;
    width: 100%;
}

.grid-img-text h4{
    text-align: center;
    padding-top: 35px;
}
.grid-img-text h5{
    text-align: center;
    font: normal normal normal 20px/34px Open Sans;
    padding-left: 97px;
    padding-top: 1px;
}
.grid-img-text h5 span{
    font: normal normal bold 20px/35px Open Sans;
}
.grid-img1 img{
    height: 410px;
    width: 300px;
}
.grid-img2 img{
    height: 205px;
    padding-left: 0px;
    width: 504px;
}
.grid-img3 img{
    height: 207px;
    padding-left: 0px;
    width: 250px;
}.grid-img4 img{
    height: 207px;
    padding-left: 0px;
    width: 250px;
}
.grid-img5 img{
    padding-top: 33px;

    width: 290px;
    height: 318px;

}
.grid-img6 img{
    width: 290px;
    height: 318px;
}
.grid-img7 img{
    width: 290px;
    height: 318px; 
}


.signup button{
    color: white;
    background-color: orange;
    border: transparent;
    border-radius: 5px;
    width: 110px;
    height: 38px;
}

.signup {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 7px 15px 10px 15px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 .signup h4 {
        color: #000;
        text-align: center;
        padding-top: 54px;
        font: normal  bold 32px/30px Open Sans;
}
.signupbtn-text::before {
        background-color: orange;
        content: "";
        height: 3px;
        margin: 0 auto;
        position: absolute;
        top: 60px;
        width: 50px;
 }
.Signup-button{
        padding-left: 60px;
}
.Signup-button button {
    color: white;
}
.sub-abc1{
    position: relative;
}
.sub-abc2{
    top: 60px;
    left: 250px;
    position: absolute;
    margin-right: 40px;
}
.sub-abc2 h4{
    font: normal normal  41px/45px Open Sans;
  ;
}
h4 span{
    color: white;
    padding-left: 200px  ;
}
.sub-abc3{
        top: 150px;
        left: 250px;
        position: absolute;
        margin-right: 40px;
        color: white; 
}
.sub-abc4{
    position: absolute;
    top: 180px;
    left: 550px;
    margin-right: 40px;
    color: white; 
    border: none;
}
.sub-abc4 button{
    color: white; 
}
.footer{
    background-color: bisque;
    overflow: hidden;
    padding-top: 30px;
  
}
.footer-item ul{
    list-style-type: none;
}
.footer-item li a{
    text-decoration: none;
    float: left;
    padding: 5px;
    padding-top: 20px;
    color: black;
}
.social-links{
    padding-top: 20px;
    
}
.footer-bottom{
    background-color: orange;
    text-align: center;
    color: white;
}

/*member-login page css start*/
.member-section1{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    height: 300px;
}

.m-section1-text1{
    padding-top: 35px;
}

.member-form{
    margin-top: -245px;
    border: 2px solid bisque;
    border-radius: 5px;  
}

 .aa{
    padding-top: 10px;
    padding-left: 20px;
    text-align: center; 
    font: normal normal bold 17px/71px Open Sans;
}
form h6{
    text-align: center;
    padding-top: 10px;
    font: normal normal normal 14px/20px Open Sans;
}

form .formInput{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    justify-content:center;
}
form .form-group{
    margin-bottom: 10px;
    border-radius: 10px;
}
form button{
    width: 100%;
    margin-bottom: 5px;
}
.m-text-list {
    padding-top: 50px;
}
.m-benifits-list ul{
    list-style-type: none;
}
.m-benifits-list ul li{
    font: normal normal normal 12px/33px Open Sans;
}
.m-benifits-list ul li i{
    color:darkgreen;
    font-size: 15px;
}
.m-mobileImg{
    padding-top: 10px;
}
 
 .member-section1{
     background: url(../Images/banner.png);
     background-repeat: no-repeat;
     height: 300px;
 }
 .container .text-light{
     margin-left: 45px;
     font-size: 26px;
 }
 .container .m-gbImg{
     margin-left: 45px;
     height: 140px;
     width: 310px;
 }
.m-benifits-list ul li{
    font-size: 13px;

}
.m-text-list ul{
    list-style-type: none;
}
.m-text-list ul li i{
    color: darkgreen;
}

.member-login-form{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    margin-top: -271px;
    background:white;

}
form{
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 50px;
}
.form-group{
    padding-bottom: 10px;
      
}
#uname, #email, #password, #cpwd, #country, #phoneno{
    background:lightgray;
}
form button{
    width: 100%;
}
form span{
    padding-left: 40px;
}

/* advertise-login page css start*/
.ad-login{
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        margin-top: -271px;
        background:white;
}
.advertise-section1{
        background: url(../Images/banner.png);
        background-repeat: no-repeat;
        height: 300px; 
}
.ad-section1-text1 h5{
    padding-top: 35px;
    font: normal normal bold 28px/0px Open Sans;
    color: white;
}
.ad-section1-text1 h6{
    color: white;
    font: normal normal normal 18px/50px Open Sans;
}
.ad-section1-runimg img{
    padding-top: 10px;
}
/* login page css start*/
.login-section1{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    height: 300px; 
}

 .wcl-back-txt{
    padding-left: 125px;
    padding-top: 10px;
    color: white;
    font: normal normal bold 25px/58px Open Sans;
}
.login-section1-img img{
    height: 225px;
}
.login-form1{
    padding-right: 100px;
    padding-left: 100px;

}

.login-form1 h1{
    padding-top: 10px;
    font: normal normal bold 22px/30px Open Sans;
}
.forgot-btn{
    border: none;
    background-color: transparent;
    color: orange;
}
form p{
    font: normal normal normal 10px/27px Open Sans;
}
.login-form2{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    margin-top: -271px;
    background:white;
}

/*Login Verification css start*/
.lv-section1{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    height: 300px; 
}
.lv-section1-img img{
    padding-top: 90px;
    width: 270px;
    opacity: 1;
}
.signup-form{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    margin-top: -271px;
    background:white;
}
form .form-name{
    padding-left: 10px;

}
